.btn{
    border: none;
    background: #DB0703;
    color: #f5f5f5;
    text-align: center;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}

.btn-hero{
    width: 31vw;
    height: 42px;
    background-image: url(assets/hero.png);
    background-size: cover;
    font-size: 20px;
}

.btn-main{
    width: 31vw;
    height: 7.5vh;
    font-size: 20px;
}