.hero{
    height: 80vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} 

.heroitems{
 
    margin-top: -40vh;
}

.heroimage{
    width: 100vw;

}

.scroll-tab-hero{
    margin-top: 4vh;
    max-width: 100vw;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.scroll-status-hero{
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.5vw;
}

.playstation5{
    background-image: url(../assets/category-playstation5.png);
    height: 80vh;
    background-size: cover;
    background-repeat: none;
}

.xbox{
    background-image: url();
    height: 40vh;
}