.herocon{
    height: 84vh;
    width: 100%;
    max-width: 100vw;
    background-image: url(../assets/hero.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero{
    height: fit-content;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: auto;
} 

.extension{
    width: 100vw;
    height: 30px;
    background-color: #111111;
}

.heroitems{
    margin-top: -230px;
}

.heroimage{
    width: 100vw;

}

.scroll-tab-hero{
    max-width: 100vw;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.scroll-status-hero{
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.5vw;
}

.playstation5{
    background-image: url(../assets/playstation5.png);
    background-position: center;
    height: 80vh;
    background-size: cover;
    background-repeat: none;
}

.ps5-description{
    margin-top: auto;
    margin-bottom: 7vh;
    margin-left: 30px;
}

.xbox{
    background-image: url(../assets/xbox.png);
    background-position: center;
    height: 40vh;
    width: 50vw;
    background-size: cover;
    background-repeat: none;
}

.nintendoswtich{
    background-image: url(../assets/switch.png);
    background-position: center;
    height: 40vh;
    width: 50vw;
    background-size: cover;
    background-repeat: none;
}

.category-description-small{
    margin-top: auto;
    margin-bottom: 4vh;
    margin-left: 30px;
}

.categories{
    gap: 2vh;
    width: 100vw;
}

.xbox-nintendo{
    gap: 1vw;
}

.on-sale{
    margin-top: 100px;
    max-width: 100vw;
}


.on-sale-games{
    width: 100%;
    max-width: 100vw;
    height:fit-content;
    gap: 1vw;
    margin-top: 50px;
    margin-bottom: 60px;
    padding-left: 30px;
    padding-right: 30px;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
}

.onsale-gamecard{
    width: 500px;
    height: fit-content;
}

.on-sale-description{
    margin-top: 255px;
    max-width: 80vw;
    margin-left: 1.2vw;
}

.assassins-creed{
    width: 436px;
    height: 350px;
    background-image: url(../assets/assassins-creed.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.battlefield{
    width: 436px;
    height: 350px;
    background-image: url(../assets/battlefield.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.overcooked{
    width: 436px;
    height: 350px;
    background-image: url(../assets/overcooked.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.humans-fall-flat{
    width: 436px;
    height: 350px;
    background-image: url(../assets/humans-fall-flat.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.ac-vahalla{
    width: 436px;
    height: 350px;
    background-image: url(../assets/ac-valhalla.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.demon-slayer{
    width: 436px;
    height: 350px;
    background-image: url(../assets/demon-slayer.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card-price{
    width: 100%;
    height: 85px;
    background-color: #111111;
}

.best-sellers{
    margin-top: 50px;
    max-width: 100vw;
    gap: 2vh;
    margin-bottom: 60px;
}

.best-sellers-two-and-three{
    gap: 1vw;
}

.best-sellers-con{
    margin-top: 100px;
    background-color: #111111;
    padding-top: 50px;
    padding-bottom: 65px;
    height: fit-content;
    width: 100vw;
}

.ratchet-and-clank{
    background-image: url(../assets/ratchet-and-clank.png);
    background-position: right;
    width: 100vw;
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
}

.ratchet-and-clank-description{
    margin-top: auto;
    margin-bottom: 50px;
    margin-left: 30px;
    height: 100%;
}

.xenoblade{
    background-image: url(../assets/xenoblade.png);
    background-position: right;
    height: 380px;
    width: 50vw;
    background-size: cover;
    background-repeat: none;
}

.best-seller-small-description{
    margin-top: auto;
    margin-left: 30px;
    margin-bottom: 30px;
    height: 100%;
}

.sekiro{
    background-image: url(../assets/sekiro.png);
    background-position: right;
    height: 380px;
    width: 50vw;
    background-size: cover;
    background-repeat: none;
}


/* latest games */

.latest-games{
    margin-top: 100px;
    max-width: 100vw;
}


.game-cards-row{
    width: 100%;
    max-width: 100vw;
    height:fit-content;
    gap: 1vw;
    margin-top: 50px;
    margin-bottom: 60px;
    padding-left: 30px;
    padding-right: 30px;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
}

.game-card {
    background-color: #111111;
    height: fit-content;
    width: 600px;
    padding: 30px;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.3);
}

.game-card-img{
    height: 460px;
    width: fit-content;
}

.blogcon{
    margin-top: 100px;
}

.blog-divider{
    display: grid;
    width: 100vw;
    grid-template-columns: 2fr 20px 1fr;
    grid-template-rows: 300px 20px 300px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.blog-large{
    background-image: url(../assets/lorcana-tcg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;

    grid-row: span 3;
}

.blog-small-1{
    background-image: url(../assets/final-fantacy.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15px;

    grid-row: 1/2;
    grid-column: 3/4;
}

.blog-small-2{
    background-image: url(../assets/assassins-creed-rogue.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15px;

    grid-row: 3/4;
    grid-column: 3/4;
}

/*product list page*/

.blackblock{
    background-color: #111111;
    width: 240px;
    height: 350px;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.3);
}


.product-row{
    margin-bottom: 25px;
    margin-left: 30px;
    margin-right: 30px;
    max-width: 100vw;
    gap:25px;
}

.image-size{
    aspect-ratio: 15/19;
    max-width: 155px;
    object-fit: cover;
}

.product-image{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: fit-content;
}

.product-description{
    margin-left: 10px;
    text-align: left; 
    margin-top: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* product page */

.product-information{
    width: 100vw;
    height: 83vh;
    padding-left: 133px;
    padding-right: 133px;
    padding-top: 10vh;
    padding-bottom: 6vh;
    justify-content: center;
    gap: 15vw;
}

.product-image-scroll{
    width: 100%;
    justify-content: space-between;
}

.product-video-section{
    margin-top: 110vh;
    width: 100vw;
    height: fit-content;
}

.product-description-section{
    background-color: #111111;
    height: fit-content;
    width: 100%;
    padding-left: 130px;
    padding-right: 130px;
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 65px;
}

