.herocon{
    height: 760px;
    width: 100%;
    max-width: 100vw;
}

.hero{
    height: fit-content;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: auto;
} 

.extension{
    width: 100vw;
    height: 30px;
    background-color: #111111;
}

.heroitems{
    margin-top: -230px;
}

.heroimage{
    width: 100vw;

}

.scroll-tab-hero{
    max-width: 100vw;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.scroll-status-hero{
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.5vw;
}

.playstation5{
    background-image: url(../assets/playstation5.png);
    background-position: center;
    height: 80vh;
    background-size: cover;
    background-repeat: none;
}

.ps5-description{
    margin-top: auto;
    margin-bottom: 7vh;
    margin-left: 30px;
}

.xbox{
    background-image: url(../assets/xbox.png);
    background-position: center;
    height: 40vh;
    width: 50vw;
    background-size: cover;
    background-repeat: none;
}

.nintendoswtich{
    background-image: url(../assets/switch.png);
    background-position: center;
    height: 40vh;
    width: 50vw;
    background-size: cover;
    background-repeat: none;
}

.category-description-small{
    margin-top: auto;
    margin-bottom: 4vh;
    margin-left: 30px;
}

.categories{
    gap: 2vh;
    width: 100vw;
}

.xbox-nintendo{
    gap: 1vw;
}

.on-sale{
    margin-top: 100px;
}


.on-sale-games{
    width: 100%;
    max-width: 100vw;
    height:fit-content;
    gap: 1vw;
    margin-top: 50px;
    margin-bottom: 60px;
    margin-left: 30px;
    overflow-x: auto;
}

.gamecard{
    width: 500px;
    height: fit-content;
}

.on-sale-description{
    margin-top: 255px;
    max-width: 17vw;
    margin-left: 1.2vw;
}

.assassins-creed{
    width: 436px;
    height: 350px;
    background-image: url(../assets/assassins-creed.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.battlefield{
    width: 436px;
    height: 350px;
    background-image: url(../assets/battlefield.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.overcooked{
    width: 436px;
    height: 350px;
    background-image: url(../assets/overcooked.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.humans-fall-flat{
    width: 436px;
    height: 350px;
    background-image: url(../assets/humans-fall-flat.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.ac-vahalla{
    width: 436px;
    height: 350px;
    background-image: url(../assets/ac-valhalla.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.demon-slayer{
    width: 436px;
    height: 350px;
    background-image: url(../assets/demon-slayer.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card-price{
    width: 100%;
    height: 85px;
    background-color: #111111;
}



/*product list page*/

.blackblock{
    background-color: #111111;
    width: 220px;
    height: 320px;
    box-shadow: 0 0 6px 6px #111111;
}


.product-row{
    margin: 20px;
    gap:20px;
}

.product-image{
    margin-top: 10px;
    width: 180px;
    height: 230px;
}

.image-size{
    width: 100%;
    height: 100%;
    overflow: hidden;
}


