.shopping-cart-title{
    font-family: "Bebas Neue", sans-serif;
    font-size: 60px;
    color: #111111;
}

.shopping-cart-no-item{
    font-family: "Inter", sans-serif;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.5);
}

.subtotal{
    font-family: "Inter", sans-serif;
    font-size: 26px;
    color: #111111;
    font-weight: bold;
}

.shopping-cart-game{
    font-family: "Inter", sans-serif;
    font-size: 26px;
    color: #111111;
    font-weight: medium;
}

.main-heading-large{
    font-family: "Bebas Neue", sans-serif;
    font-size: 60px;
    color: #f5f5f5;
}

.main-heading-hero{
    font-family: "Bebas Neue", sans-serif;
    font-size: 50px;
    color: #f5f5f5;
    margin-top: 1vh;
    margin-bottom: 3vh;
}

.audfont{
    font-family: "Bebas Neue", sans-serif;
    font-size: 35px;
    color: #f5f5f5;
}

.subheading-hero{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: rgba(245, 245, 245, 0.5);
    margin: 0;
}

.category-large{
    font-family: "Inter", sans-serif;
    font-size: 40px;
    color: #f5f5f5;
    font-weight: bold;
}

.category-small{
    font-family: "Inter", sans-serif;
    font-size: 20px;
    color: #f5f5f5;
    font-weight: bold;
}

.onsale-subheading{
    font-family: "Inter", sans-serif;
    font-size: 12px;
    color: rgba(245, 245, 245, 0.5);
    font-weight: medium;
    margin-bottom: 10px;
}

.onsale-heading{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: #f5f5f5;
    font-weight: medium;
}

.onsale-subpricing{
    font-family: "Inter", sans-serif;
    font-size: 12px;
    color: rgba(245, 245, 245, 0.5);
    font-weight: medium;
    text-decoration: line-through;
    margin-left: 1.2vw;
    margin-bottom: 5px;
    margin-top: 20px;
}

.onsale-pricing{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: #f5f5f5;
    font-weight: 600;
    margin-left: 1.2vw;
}

.bestsellers-subheading-large{
    font-family: "Inter", sans-serif;
    font-size: 32px;
    color: rgba(245, 245, 245, 0.5);
    font-weight: medium;
    margin-bottom: 30px;
    margin-top: auto;
}

.bestsellers-heading-large{
    font-family: "Inter", sans-serif;
    font-size: 36px;
    color: #f5f5f5;
    margin-top: 20px;
    margin-bottom: 30px;
}

.bestsellers-pricing-large{
    font-family: "Inter", sans-serif;
    font-size: 36px;
    color: #f5f5f5;
    font-weight: 600;
}

.bestsellers-subheading-small{
    font-family: "Inter", sans-serif;
    font-size: 22px;
    color: rgba(245, 245, 245, 0.5);
    font-weight: medium;
    margin-bottom: 10px;
    margin-top: auto;
}

.bestsellers-heading-small{
    font-family: "Inter", sans-serif;
    font-size: 26px;
    color: #f5f5f5;
    margin-bottom: 10px;
}

.bestsellers-pricing-small{
    font-family: "Inter", sans-serif;
    font-size: 26px;
    color: #f5f5f5;
    font-weight: 600;
}

/* .best-sellers-ranking-large{
    font-family: "Inter", sans-serif;
    font-size: 200px;
    font-weight: bold;
    background-color: #111111;
    color: transparent;
    text-shadow: 0px 2px 2px rgba(219, 7, 3, 0.9);
    background-clip: text;
} */

.ratchet-and-clank-description img{
    margin-top: 30px;
    height: 100px;
    width: fit-content;
}

.best-seller-small-description img{
    margin-top: 30px;
    height: 60px;
    width: fit-content;
}

.latest-game-category{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: rgba(245, 245, 245, 0.5);
    font-weight: medium;
    margin-top: 20px;
    margin-bottom: 8px;
}

.latest-game-title{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: #f5f5f5;
    font-weight: medium;
}

.blog-subheading-large{
    font-family: "Inter", sans-serif;
    font-size: 22px;
    color: rgba(245, 245, 245, 0.5);
    font-weight: medium;
    margin-top: auto;
    margin-bottom: 20px;
}

.blog-heading-large{
    font-family: "Inter", sans-serif;
    font-size: 30px;
    color: #f5f5f5;
    margin-top: 20px;
}

.blog-subheading-small{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: rgba(245, 245, 245, 0.5);
    font-weight: medium;
    margin-top: auto;
    margin-bottom: 10px;
}

.blog-heading-small{
    font-family: "Inter", sans-serif;
    font-size: 20px;
    color: #f5f5f5;
    margin-top: 10px;
}

.product-name{
    font-family: "Inter", sans-serif;
    font-size: 14px;
    color: rgba(245, 245, 245, 0.5);
    margin-top: -5px;
    padding-left: 20px;
    padding-right: 20px;
}

.product-price{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: #f5f5f5;
    margin-top: auto;
    margin-bottom: 15px;
    margin-left: 20px;
}

.product-tracking-history{
    font-family: "Inter", sans-serif;
    font-size: 20px;
    color: rgba(245, 245, 245, 0.5);
    font-weight: 600;
}

.browsing-history{
    display: flex;
    flex-direction: row;
    margin-top: 130px;
    margin-left: 30px;
    gap: 10px;
}

.underline{
    text-decoration: underline;
}

.product-subheading{
    font-family: "Inter", sans-serif;
    font-size: 20px;
    color: rgba(245, 245, 245, 0.5);
    font-weight: medium;
    margin-bottom: 10px;
}

.product-title{
    font-family: "Inter", sans-serif;
    font-size: 34px;
    color: #f5f5f5;
    font-weight: medium;
    margin-bottom: 20px;
}

.product-pricing{
    font-family: "Inter", sans-serif;
    font-size: 36px;
    color: #f5f5f5;
    font-weight: medium;
    margin-bottom: 30px;
}

.product-shipping{
    font-family: "Bebas Neue", sans-serif;
    font-size: 40px;
    color: #f5f5f5;
}

.product-shipping-description-text{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: #f5f5f5;
    font-weight: medium;
    margin-bottom: 5px;
    margin-left: 10px;
}

.product-description-body{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: #f5f5f5;
    font-weight: medium;
}

.product-description-heading{
    font-family: "Inter", sans-serif;
    font-size: 20px;
    color: #f5f5f5;
    font-weight: bold;
}


/* agree to subcribe to updates text */
.inter-medium-12{
    font-family: "Inter", sans-serif;
    font-size: 0.75em;
    color: #f5f5f5;
    font-weight: medium;
}

/* Stay in the loop */
.inter-bold-30{
    font-family: "Inter", sans-serif;
    font-size: 30px;
    color: #f5f5f5;
    font-weight: bold;
}

.inter-regular-16{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: #f5f5f5;
}

.inter-medium-16{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: #f5f5f5;
    font-weight: medium;
}

.inter-semibold-16{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: #f5f5f5;
    font-weight: 600;
}



.footer-links{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: rgba(245, 245, 245, 0.8);
    margin-left: auto;
    width: 100%;
    justify-content: space-between;
}

.footer-copyright{
    font-family: "Inter", sans-serif;
    font-size: 12px;
    color: rgba(245, 245, 245, 0.8);
}

.categories-heading{
    margin-top: 100px;
    margin-bottom: 5vh;
}

.pagenumber{
    max-width: 100vw;
    width: 100%;
    height: fit-content;
    font-family: "Inter", sans-serif;
    font-size: 10px;
    color: #f5f5f5;
    font-weight: 600;
    gap: 24px;
    font-size: 15px;
    margin-top: 30px;
}



/*check out page*/

.input-heading{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: #f5f5f5;
}

.size-checkout{
    font-size: 18px;
    color: #f5f5f5;
}


.inter-semibold-12{
    font-family: "Inter", sans-serif;
    font-size: 12px;
    color: #f5f5f5;
    font-weight: 600;
}

.inter-medium-18{
    font-family: "Inter", sans-serif;
    font-size: 18px;
    color: #f5f5f5;
    font-weight: medium;
}

.inter-bold-24{
    font-family: "Inter", sans-serif;
    font-size: 24px;
    color: #f5f5f5;
    font-weight: bold;
}



/* order summary page */

.inter-regular-30{
    font-family: "Inter", sans-serif;
    font-size: 30px;
    color: #f5f5f5;
}


.inter-regular-12{
    font-family: "Inter", sans-serif;
    font-size: 12px;
    color: #f5f5f5;
}

.align-center{
    text-align: center;
}


/* order confirmation page */

.inter-regular-18{
    font-family: "Inter", sans-serif;
    font-size: 18px;
    color: #f5f5f5;
}