footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 24vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footercon{
    max-height: fit-content;
    display: flex;
    flex-direction: row;
    width: 100vw;
    padding: 30px;
}

#subscribe{
    margin-top: 0;
}

.footer-section1{
    display: flex;
    flex-direction: column;
}

.signup-bar{
    display: flex;
    flex-direction: row;
    min-width: 14vw;
}

.social-media{
    display: flex;
    flex-direction: row;
    gap: 2.5vw;
    margin-right: auto;
}

.subscribe-input{
    border: none;
    outline: none;
    width: 18vw;
    height: 34px;
}

.signup{
    width: 6vw;
    min-width: 4vw;
}

.check{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    align-items: center;
}

#checkbox{
    border: none;
    margin-left: 0;
    border-radius: 0;
}

.footer-section2{
    width: 100%;
    padding-top: 18px;
}

.social-and-copyright{
    margin-top: auto;
    width: 100%;
}

.divider{
    height: 128px;
    width: 1px;
    background-color: #f5f5f5;
    opacity: 50%;
    margin: 0 5vw;
}