body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


a {
    text-decoration: inherit;
    color: inherit;
    height: 0;
}

.section {
    overflow-y: hidden;
    overflow-x: auto;

}

h1{
    margin: 0;
}