.main-product-section-1{
    background-image: url(../assets/product-page-1/a-plague-tale-innocence-background.png);
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.product-page-image-1{
    height: 420px;
    margin-bottom: 60px;
    padding: 30px;
}

.maintain-size{
    height: fit-content;
    width: fit-content;
}