.search{
  --padding: 15px;

  width: max-content;
  display: flex;
  align-items: center;
  padding: var(--padding);
  background: #ebebeb;
  width: 30vw;
}

.search-input{
  font-size: 16px;
  font-family: "Inter", sans-serif;
  color: #111111;
  margin-left: var(--padding);
  outline: none;
  border: none;
  background: transparent;
  width: 100%;
}