main{
    margin-top: 20vh;
}

.center{
    align-items: center;
    justify-content: center;
}

.vert-center{
    align-items: center;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

.align-bottom{
    align-items: baseline;
}

.align-right{
    justify-content: flex-end;
}