
main{
    margin-top: 150px;
    max-width: 100vw;
    margin-bottom: 130px;
} 

.default-main{
    margin-top: 0;
    position: relative;
}

.space-between{
    justify-content: space-between;
}

.max-margin-bottom{
    margin-bottom: auto;
}

.con{
    max-width: 100vw;
    padding: 30px;
    margin-top: 70px;
}

.center{
    align-items: center;
    justify-content: center;
}

.vert-center{
    align-items: center;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

.align-bottom{
    align-items: flex-end;
}

.align-right{
    justify-content: flex-end;
}

.align-left{
    justify-content:flex-start;
}

.align-top{
    justify-content: start;
}

.headings{
    margin-top: 10vh;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

/*check out page*/
.checkout-heading{
    margin-top: 80px;
    margin-bottom: 50px;
}

.inputbox-gap{
    gap: 8px;
}

.spacing{
   gap: 145px;
}

.spacing-small{
    gap: 20px;
}

.spacing-medium{
    gap: 40px;
}

.row-width{
    width: 340px;
}

.icon-size{
    width: 30px;
    height: 30px;
}

.margin-left{
    margin-left: 40px;
}

.margin-left-large{
    margin-left: auto;
}

.horizontal-center{
    justify-content: center;
}

.logo-gap{
    gap: 3px;
}

.push-to-right{
    margin-left: auto;
}

.margin-top{
    margin-top: 200px;
}

.margin-bottom{
    margin-bottom: 30px;
}

.margin-bottom-small{
    margin-bottom: 20px;
}

.margin-bottom-large{
    margin-bottom: 50px;
}


.section-margin-top{
    margin-top: 100px;
}



/* order summary page */

.row-width-long{
    width: 390px;
}

.summary-heading{
    margin-top:180px;
    margin-bottom: 50px;
}