nav{
    width: 100vw;
    height: 127px;
    display: flex;
    position: fixed;
    overflow: visible;
    top: 0;
    align-items: center;
    justify-content: center;
    max-width: 100vw;
    background-color: #111111;
    justify-content: space-between;
    gap: 2.5vw;
    padding-left: 30px;
    padding-right: 30px;
}

#navbar{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width:100%;
    padding: 30px;
    height: 50px;
    max-width: 100vw;
}

#currency{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
}

#hamburger-menu{
    margin-right: 3vw;
}

.logo{
    height: 44px;
}

.navcon1{
    display: flex;
    flex-direction: row;
    gap: 5vw;
    align-items: center;
    width: 100%;
}

.navcon2{
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: fit-content;
}

#navcon1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    margin-right: auto;
    width: 21vw;
    gap: 2vw;
}

#navcon2{
    position: absolute;
    max-width: fit-content;
    margin: auto;
}

#navcon3{
    width: 23vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-transparent{
    background-color: transparent;
}

.nav-absolute{
    position: absolute;
}


/* searchbar drop down list */

.fold{
    display: none;
}

#suggestions-list{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #f5f5f5;
    margin: 0;
    list-style: none;   
}

#suggestions-list li{
    padding: 15px;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    font-size: 20px;
}

#suggestions-list li:hover {
    background-color: rgba(221, 220, 220, 0.5);
}

#open-cart{
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.items-num-style{
    position: absolute;
    top: -8px;
    right: -7px;
    height: 30px;
    width: 30px;
    background-color: #D20F0F;
    border-radius: 50%;
    color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 600;
    
}
