.redline{
    width: 100px;
    height: 5px;
    background-color: #db0703;
    margin-bottom: 10px;
}

.redline-large{
    width: 190px;
    height: 10px;
    background-color: #db0703;
    margin-bottom: 10px;
}

.box-shadow{
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.3);
}

.circle{
    margin-top: 18px;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    color: #111111;
    background: #db0703;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.background-img{
    max-width: 100%;
    width: 100vw;
    background-image: url(../assets/product-page-1/a-plague-tale-innocence-background.png);
}

.scroll-status-product{
    gap: 1.5vw;
}


iframe {
    aspect-ratio: 16 / 9;
    width: 80% !important;
    height: 40% !important;
}


/* check out page*/

#checkbox{
    margin-right: 5px;
    width: 20px;
    height: 20px;
}

.red-rectangle{
    padding: 3%;
    width: 40vw;
    height: 101px;
    border-style: solid;
    border-color: #db0703;
    display: flex;
    margin-bottom: 20px;
}

.unselected-rect{
    border-style: none;
    margin-bottom: 0px;
}

.rect-large{
    height: 350px;
}

.rect-regular{
    padding: 3%;
    width: 40vw;
    height: 93px;
    display: flex;
}


.greyline{
    margin-top: 20px;
    width: 38vw;
    height: 1px;
    background-color: rgba(245, 245, 245, 0.5);
}




/* order summary page */
.white-rectangle{
    padding: 3%;
    border-style: solid;
    border-color: #f5f5f5;
    display: flex;
    width: 30vw;
    height:230px;
    border-radius:2%;
}

.greyline-short{
    margin-top: 12px;
    margin-bottom: 12px;
    width: 28vw;
    height: 1px;
    background-color: rgba(245, 245, 245, 0.5);
}

.terms-and-condition{
    width: 30vw;
}