.redline{
    width: 6vw;
    height: 5px;
    background-color: #db0703;
    margin-bottom: 10px;
}

.redline-large{
    width: 13vw;
    height: 10px;
    background-color: #db0703;
    margin-bottom: 10px;
}