/* general */

@media screen and (max-width: 1000px) {

    main{
        margin-top: 200px;
        margin-bottom: 50px;
    }

    .redline{
        width: 60px;
        height: 4px;
        margin-bottom: 5px;
    }

    .redline-large{
        width: 60px;
        height: 4px;
        margin-bottom: 5px;
    }

    .main-heading-large{
        font-size: 40px;
    }

    .extension{
        display: none;
    }

    .btn-main{
        width: 93vw;
    }

}

/* productlist buttons */

@media screen and (max-width: 1000px) {
    .productlist-buttons{
        gap: 20px;
    }

    .productlist-buttons button{
        width: 15vw;
        margin: 0;
        height: 50px;
    }
}

@media screen and (max-width: 800px) {
    .productlist-buttons{
        margin: 0;
        padding: 0px 15px;
        gap: 10px;
    }

    .productlist-buttons button{
        width: 100%;
        margin: 0;
        height: 50px;
    }

    .btn-clearall{
        display: none;
    }
}

/* product list */

@media screen and (max-width: 1350px) and (min-width: 801px) {
    .product-row{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0;
        padding: 0px 30px;
        gap: 25px;
        margin-bottom: 25px;
    }

    .blackblock{
        width: 100%;
        padding: 15px;
        height: 300px;
       }
}

@media screen and (max-width: 800px) {
    .productlist-container .product-row:nth-child(3),
    .productlist-container .product-row:nth-child(4) {
        display: none;
    }

    .productlist-container{
        margin: 30px 0px;
    }

    .product-row{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0;
        padding: 0px 15px;
        gap: 10px;
        margin-bottom: 10px;
    }

    .blackblock{
     width: 100%;
     padding: 15px;
     height: 300px;
    }

    .product-image{
        padding: 0px 0px 15px 0px;
    }

    .product-name{
        padding: 0;
    }

    .product-price{
        margin: 0;
        margin-top: auto;
    }

    .image-size{
        width: 100%;
    }
}