/* order summmary page */
@media screen and (max-width: 390px){
    .row-width{
        width: 200px;
       }

    #subtotal-and-ship{
        width:92vw;
        margin-left: 5px;
    }
    
    #total-amount{
        width: 92vw;
        margin-left: 5px;
    }

    #mobile-greyline{
        width: 95vw;
       }

    .white-rectangle{
        margin-left: 10px;
        margin-right: 10px;
        width: fit-content;
        height: fit-content;
    }

    .greyline-short{
        width: 88vw;
    }

    .margin-top-negative{
        margin-top: 0;
    }

    .margin-left-large{
        margin-left: 0;
    }

    .btn-savecontinue{
        width: 95vw;
        height: 75px;
        font-size: 20px;
        margin-left: 9px;
        margin-top: 50px;
       } 

    .terms-and-condition{      
        width: 100vw;
    }

    .spacing{
        gap: 130px;
    }
    
    .summary-heading{
        margin-top: 200px;
    }

    #right-half{
        margin-top: -60px;
    }
}



/*nav bar*/

@media screen and (max-width: 390px) {

    nav{
        display: flex;
        flex-direction: row;
        height: 180px;
        padding-left: 15px;
        padding-right: 15px;
    }

    nav :nth-child(1) {order: 1;}
    nav :nth-child(2) {order: 3;}
    nav :nth-child(5) {order: 2;}
    nav :nth-child(6) {order: 4;}
    nav :nth-child(7) {order: 5;}

    #hamburger-menu{
        height: 18px;
    }

    #logo{
        height: 30px;
    }

    #user-icon{
        height: 30px;
    }

    #wishlist-icon{
        height: 30px;
    }

    #cart-icon{
        height: 35px;
    }

    .navcon2{
        margin: 0;
        margin-top: 110px;
        padding: 15px;
        width: 100vw;
    }

    .search{
        width: 100%;
        height: 40px;
        padding: 10px;
    }

    #currency{
        display: none;
    }
}


