/* general */

@media screen and (max-width: 390px) {

    main{
        margin-top: 200px;
        margin-bottom: 50px;
    }

    .redline{
        width: 60px;
        height: 4px;
        margin-bottom: 5px;
    }

    .redline-large{
        width: 60px;
        height: 4px;
        margin-bottom: 5px;
    }

    .main-heading-large{
        font-size: 40px;
    }

    .extension{
        display: none;
    }

    .btn-main{
        width: 93vw;
    }

}

/* check out page */

@media screen and (max-width: 390px) {

    #shoppinginfo{
        gap: 50px; 
        width: 100vw;
    }

    .checkout-heading{
        margin-top: 0;
        margin-bottom: 25px;
    }

    .payment-method-section{
        margin-top: 30px;
    }

    .info-input{    
        width: 45vw;
        height: 40px;
   }

   .shipping-method{
    margin-top: 50px;
   }

   .long-info{
    width: 92vw;
   }

   .dropdown-list{
    width: 38vw;
   }

   .red-rectangle{
    width: 90vw;
   }

   .payment-method-long{
    width: 85vw;
   }

   .rect-large{
    height: fit-content;
   }

   .rect-regular{
    width: 90vw;
   }

   .row-width{
    width: 200px;
   }

   #subtotal-and-ship{
    width:92vw;
   }

   #total-amount{
    width: 92vw;
   }
   
   #cardlogo{
    margin-left: 15px;
    gap: 2px;
   }

   #cardlogo img{
    width: 32px;
    height: 25px;
   }

   #date{
    width: 41.3vw;
   }

   #cvv{
    width: 41.3vw;
   }

   #mobile-greyline{
    width: 95vw;
   }

   /*
   #savecontinue{
    width: 95vw;
    margin-left: -130px;
   }*/


   .btn-savecontinue{
    width: 95vw;
    height: 75px;
    font-size: 20px;
    margin-left: -136px; 
   }
   .spacing{
    gap:130px;
   }

   .game1,
   .game2{
    gap: 0;
    justify-content: space-between;
    width: 100%;
   }

   .image-size{
    height: 150px;
   }

   .game-description-checkout{
    gap: 0;
    justify-content: space-between;
   }

   #right-half{
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 0;
    padding-left: 20px;
    padding-right: 20px;
   }

   .shipping-method div:nth-child(2){
    width: 100%;
   }
   
}


/*nav bar*/

@media screen and (max-width: 390px) {

    nav{
        display: flex;
        flex-direction: row;
        height: 180px;
        padding-left: 15px;
        padding-right: 15px;
    }

    nav :nth-child(1) {order: 1;}
    nav :nth-child(2) {order: 3;}
    nav :nth-child(5) {order: 2;}
    nav :nth-child(6) {order: 4;}
    nav :nth-child(7) {order: 5;}

    #hamburger-menu{
        height: 18px;
    }

    #logo{
        height: 30px;
    }

    #user-icon{
        height: 30px;
    }

    #wishlist-icon{
        height: 30px;
    }

    #cart-icon{
        height: 35px;
    }

    .navcon2{
        margin: 0;
        margin-top: 110px;
        padding: 15px;
        width: 100vw;
    }

    .search{
        width: 100%;
        height: 40px;
        padding: 10px;
    }

    #currency{
        display: none;
    }
}