/* general */

@media screen and (max-width: 1000px) {

    main{
        margin-bottom: 50px;
    }

    .redline{
        width: 60px;
        height: 4px;
        margin-bottom: 5px;
    }

    .redline-large{
        width: 60px;
        height: 4px;
        margin-bottom: 5px;
    }

    .main-heading-large{
        font-size: 40px;
    }

    .extension{
        display: none;
    }

    .btn-main{
        width: 93vw;
    }

}

/* shoppping cart */

@media screen and (max-width: 800px){
    .cart-header{
        font-size: 40px;
        margin: 0;
        margin: 15px;
        margin-bottom: 0;
        padding-bottom: 14px;

    }
    .shopping-cart{
        transform: translate(0, 110%);
        width: 100vw;
        height: 80vh;
        top: auto;
        bottom: 0;

    }

    .shopping-cart-game{
        font-size: 14px;
        font-weight: 500;
    }

    .item-img{
        height: 130px;
    }

    #trash-can1 img{
        height: 25px;
    }

    #trash-can2 img{
        height: 25px;
    }

    .cart-item{
        padding: 30px 15px;
        height: 190px;
    }

    .item-details{
        height: 100%;
        padding-left: 20px;
    }

    .subtotal{
        font-size: 18px;
    }

    .subtotal-section{
        padding: 0 15px;
    }

    .cart-buttons{
        padding: 30px 15px;
    }

    .quantity{
        padding: 3px 8px;
        gap: 15px;
    }

    .checkout,
    .continue-shopping{
        font-size: 16px;
        height: 50px;
    }
}

/* Browswing history */
@media screen and (max-width: 1000px) {
    .browsing-history{
        margin-top: 190px;
        margin-left: 15px;
    }
}


/* main section */

@media screen and (max-width: 1000px){
    .product-information{
        padding-top: 50px;
    }
}

@media screen and (max-width: 950px){
    .product-information{
        gap: 5vw;
    }
}

@media screen and (max-width: 700px){

    .main-product-section-1{
        height: 675px;
    }


    .browsing-history{
        margin-top: 190px;
        margin-left: 15px;
    }

    .product-information{
        flex-direction: column;
        padding: 390px 15px 20px 15px;
        gap: 30px;
    }

    .product-section-left{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .product-page-image-1{
        margin-bottom: 35px;
        width: fit-content;
    }

    .product-subheading{
        font-size: 14px;
    }

    .product-title{
        font-size: 25px;
    }

    .btn-add-to-cart{
        width: 100%;
    }

    .btn-add-to-wish-list{
        width: 100%;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 390px){

    .main-product-section-1{
        height: 638px;
    }


    .browsing-history{
        margin-top: 190px;
        margin-left: 15px;
    }

    .product-tracking-history{
        font-size: 14px;
    }

    .product-information{
        flex-direction: column;
        padding: 390px 15px 20px 15px;
        gap: 30px;
    }

    .product-page-image-1{
        margin-bottom: 35px;
    }

    .product-subheading{
        font-size: 14px;
    }

    .product-title{
        font-size: 25px;
    }

    .btn-add-to-cart{
        width: 100%;
    }

    .btn-add-to-wish-list{
        width: 100%;
        margin-bottom: 50px;
    }
}

/* video section */

@media screen and (max-width: 700px) {
    .product-video-section {
        margin-top: 1360px;
    }

    iframe {
        width: 90% !important;
        height: 50% !important;
    }

}

@media screen and (max-width: 390px) {
    .product-video-section {
        margin-top: 1320px;
    }

    iframe {
        width: 90% !important;
        height: 50% !important;
    }

}

/* Description Section */
@media screen and (max-width: 700px){
    .product-description-section{
        padding: 30px 15px;
    }

    .product-description-body{
        font-size: 14px;
        text-align: justify;
    }
}

@media screen and (max-width: 390px){
    .product-description-section{
        margin-top: 50px;
        padding: 30px 15px;
    }

    .product-description-body{
        font-size: 14px;
        text-align: justify;
    }
}

/* you may also like section */

@media screen and (max-width: 390px){

    .you-may-also-like-section{
        margin-top: 50px;
        margin-bottom: 25px;
    }

    .latest-games{
        margin-top: 50px;
    }

    .game-cards-row{
        margin-top: 25px;
        padding-left: 15px;
        padding-right: 15px;
        gap: 10px;
        margin-bottom: 25px;
    }

    .game-card{
        padding: 15px;
    }

    .game-card-img{
        height: 200px;
    }

    .latest-game-category{
        font-size: 12px;
    }
}