/* general */

@media screen and (max-width: 500px) {

    main{
        margin-top: 200px;
        margin-bottom: 50px;
    }

    .redline{
        width: 60px;
        height: 4px;
        margin-bottom: 5px;
    }

    .redline-large{
        width: 60px;
        height: 4px;
        margin-bottom: 5px;
    }

    .main-heading-large{
        font-size: 40px;
    }

    .extension{
        display: none;
    }

    .btn-main{
        width: 93vw;
    }

}

/* shoppping cart */

@media screen and (max-width: 500px){
    .cart-header{
        font-size: 40px;
        margin: 0;
        margin: 15px;
        margin-bottom: 0;
        padding-bottom: 14px;

    }
    .shopping-cart{
        transform: translate(0, 110%);
        width: 100vw;
        height: 80vh;
        top: auto;
        bottom: 0;

    }

    .shopping-cart-game{
        font-size: 14px;
        font-weight: 500;
    }

    .item-img{
        height: 130px;
    }

    #trash-can1 img{
        height: 25px;
    }

    #trash-can2 img{
        height: 25px;
    }

    .cart-item{
        padding: 30px 15px;
        height: 190px;
    }

    .item-details{
        height: 100%;
        padding-left: 20px;
    }

    .subtotal{
        font-size: 18px;
    }

    .subtotal-section{
        padding: 0 15px;
    }

    .cart-buttons{
        padding: 30px 15px;
    }

    .quantity{
        padding: 3px 8px;
        gap: 15px;
    }

    .checkout,
    .continue-shopping{
        font-size: 16px;
        height: 50px;
    }
}


/* hero */

@media screen and (max-width: 500px) {
    .herocon{
        height: 70vh;
        background-image: url(../assets/hero-small.png);
    }

    .heroitems h1{
        font-size: 30px;
    }

    .heroitems{
        margin-top: 410px;
        width: 100%;
        padding: 15px;
    }

    .heroitems button{
        width: 100%;
    }

    .scroll-tab-hero{
        justify-content: center;
    }

    .scroll-status-hero{
        width: 45%;
        justify-content: space-between;
    }

    #right-arrow-hero{
        display: none;
    }

    #left-arrow-hero{
        display: none;
    }

}


/* category */

@media screen and (max-width: 500px) {

    .categories-heading{
        margin-top: 70px;
    }

    .on-sale{
        margin-top: 50px;
    }
    
    .categories{
        gap: 10px;
    }


    .playstation5{
        height: 200px;
    }

    .ps5-description{
        margin-bottom: 15px;
        margin-left: 15px;
        font-size: 20px;
    }

    .xbox-nintendo{
        flex-direction: column;
        gap: 10px;
    }

    .xbox{
        width: 100vw;
        height: 200px;
    }

    .nintendoswtich{
        width: 100vw;
        height: 200px;
    }

    .category-description-small{
        margin-bottom: 15px;
        margin-left: 15px;
        font-size: 20px;
    }
}


/* on sale */
@media screen and (max-width: 500px){
    .on-sale-games{
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 25px;
        gap: 10px;
    }

    .onsale-gamecard{
        width: 93vw;
    }

    .on-sale-description{
        margin-top: 215px;
        margin-left: 15px;
    }

    .assassins-creed{
        width: 93vw;
        height: 300px;
    }

    .battlefield{
        width: 93vw;
        height: 300px;
    }
    
    .overcooked{
        width: 93vw;
        height: 300px;
    }
    
    .humans-fall-flat{
        width: 93vw;
        height: 300px;
    }
    
    .ac-vahalla{
        width: 93vw;
        height: 300px;
    }
    
    .demon-slayer{
        width: 93vw;
        height: 300px;
    }

    .onsale-subpricing{
        margin-top: 0px;
        margin-left: 0px;
    }

    .onsale-pricing{
        margin-left: 0px;
    }

    .card-price{
        height: fit-content;
        padding: 15px;
    }

    .assassins-creed :nth-child(1){
        width: 60vw;
    }

    .humans-fall-flat :nth-child(1){
        width: 60vw;
    }

    .categorycon button{
        margin-top: 25px;
    }
}


/* best sellers */

@media screen and (max-width: 500px) {
    .best-sellers-con{
        margin-top: 50px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .best-sellers{
        margin-top: 30px;
        gap: 10px;
        margin-bottom: 25px;
    }

    .ratchet-and-clank{
        height: 200px;
    }

    .ratchet-and-clank-description{
        margin: 0;
        padding: 15px;
    }

    .best-sellers img{
        height: 60px;
        margin-top: 5px;
    }

    .best-sellers-two-and-three{
        flex-direction: column;
        gap: 10px;
    }

    .xenoblade{
        width: 100%;
        height: 200px;
    }

    .sekiro{
        width: 100%;
        height: 200px;
    }

    .bestsellers-subheading-large{
        font-size: 12px;
        margin-bottom: 5px;
    }

    .bestsellers-heading-large{
        font-size: 16px;
        margin: 0;
        margin-bottom: 5px;
    }

    .bestsellers-pricing-large{
        font-size: 16px;
    }

    .best-seller-small-description{
        margin: 0;
        padding: 15px;
    }

    .bestsellers-subheading-small{
        font-size: 12px;
        margin-bottom: 0;
        margin-bottom: 5px;
    }

    .bestsellers-heading-small{
        font-size: 16px;
        margin-bottom: 5px;
    }

    .bestsellers-pricing-small{
        font-size: 16px;
    }
}

/* latest */

@media screen and (max-width: 500px){
    .latest-games{
        margin-top: 50px;
    }

    .game-cards-row{
        margin-top: 25px;
        padding-left: 15px;
        padding-right: 15px;
        gap: 10px;
        margin-bottom: 25px;
    }

    .game-card{
        padding: 15px;
    }

    .game-card-img{
        height: 200px;
    }

    .latest-game-category{
        font-size: 12px;
    }
}

/* blog */

@media screen and (max-width: 500px) {

    .blogcon{
        margin-top: 50px;
    }

    .blog-divider{
        display: flex;
        flex-direction: column;
        margin-top: 25px;
        margin-bottom: 25px;
        gap: 10px;
    }

    .blog-large{
        height: 200px;
        padding: 15px;
    }

    .blog-subheading-large{
        font-size: 12px;
        margin-bottom: 5px;
    }

    .blog-heading-large{
        font-size: 16px;
        margin-top: 0;
        margin-bottom: 5px;
    }

    .blog-small-1{
        height: 200px;
    }

    .blog-small-2{
        height: 200px;
    }

    .blog-subheading-small{
        font-size: 12px;
        margin-bottom: 5px;
    }

    .blog-heading-small{
        font-size: 16px;
        margin-top: 0;
        margin-bottom: 5px;
    }
}
