/* general */

@media screen and (max-width: 390px) {

    main{
        margin-top: 200px;
        margin-bottom: 50px;
    }

    .redline{
        width: 60px;
        height: 4px;
        margin-bottom: 5px;
    }

    .redline-large{
        width: 60px;
        height: 4px;
        margin-bottom: 5px;
    }

    .main-heading-large{
        font-size: 40px;
    }

    .extension{
        display: none;
    }

    .btn-main{
        width: 93vw;
    }

}

/* order confirmation page */
@media screen and (max-width: 390px){
    #confirmation-footer{
        position: relative;  
      }
  
      #continueshop{
        width: 100%;
        height: 65px;
      }

    .summery-con{
        width: 100vw;
        margin: 0;
        padding-left: 15px;
        padding-right: 15px;
        justify-content: center;
        margin-top: 250px;
        margin-bottom: 120px;
    }

    .summery-con p,
    .summery-con a{
        width: 100%;
    }
        
    .summery-con p:nth-child(3){
        margin-bottom: 30px;
    }

  }
