/* general */

@media screen and (max-width: 390px) {

    main{
        margin-top: 200px;
        margin-bottom: 50px;
    }

    .redline{
        width: 60px;
        height: 4px;
        margin-bottom: 5px;
    }

    .redline-large{
        width: 60px;
        height: 4px;
        margin-bottom: 5px;
    }

    .main-heading-large{
        font-size: 40px;
    }

    .extension{
        display: none;
    }

    .btn-main{
        width: 93vw;
    }

}

/* shoppping cart */

@media screen and (max-width: 390px){
    .cart-header{
        font-size: 40px;
        margin: 0;
        margin: 15px;
        margin-bottom: 0;
        padding-bottom: 14px;

    }
    .shopping-cart{
        transform: translate(0, 110%);
        width: 100vw;
        height: 80vh;
        top: auto;
        bottom: 0;

    }

    .shopping-cart-game{
        font-size: 14px;
        font-weight: 500;
    }

    .item-img{
        height: 130px;
    }

    #trash-can1 img{
        height: 25px;
    }

    #trash-can2 img{
        height: 25px;
    }

    .cart-item{
        padding: 30px 15px;
        height: 190px;
    }

    .item-details{
        height: 100%;
        padding-left: 20px;
    }

    .subtotal{
        font-size: 18px;
    }

    .subtotal-section{
        padding: 0 15px;
    }

    .cart-buttons{
        padding: 30px 15px;
    }

    .quantity{
        padding: 3px 8px;
        gap: 15px;
    }

    .checkout,
    .continue-shopping{
        font-size: 16px;
        height: 50px;
    }
}

/* productlist buttons */

@media screen and (max-width: 390px) {
    .productlist-buttons{
        margin: 0;
        padding: 0px 15px;
        gap: 10px;
    }

    .productlist-buttons button{
        width: 100%;
        margin: 0;
        height: 50px;
    }

    .btn-clearall{
        display: none;
    }
}

/* product list */

@media screen and (max-width: 390px) {
    .productlist-container .product-row:nth-child(3),
    .productlist-container .product-row:nth-child(4) {
        display: none;
    }

    .productlist-container{
        margin: 30px 0px;
    }

    .product-row{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0;
        padding: 0px 15px;
        gap: 10px;
        margin-bottom: 10px;
    }

    .blackblock{
     width: 100%;
     padding: 15px;
     height: 300px;
    }

    .product-image{
        padding: 0px 0px 15px 0px;
    }

    .product-name{
        padding: 0;
    }

    .product-price{
        margin: 0;
        margin-top: auto;
    }

    .image-size{
        width: 100%;
    }
}

/* Footer */

@media screen and (max-width: 390px) {
    footer{
        bottom: 0px;
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footercon {
        flex-direction: column;
        padding: 15px;
        padding-top: 20px;
    }

    .footer-section1{
        width: 100%;
    }

    .footer-section1 h1{
        font-size: 24px;
    }

    .footer-links {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }

    .footer-links a{
        padding-bottom: 15px;
        text-align: center;
        width: 100%;
        border-bottom: 1px solid rgba(245, 245, 245, 0.3);
    }

    .footer-links a:last-child{
        border: none;
    }

    .divider{
        display: none;
    }

    .social-and-copyright{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .social-media{
        justify-content: space-between;
        margin: 0;
        width: 100%;
        padding: 0px 50px;
        margin-bottom: 20px;
    }

    .signup-bar{
        width: 100%;
        margin-bottom: 5px;
    }

    .signup-bar form{
        width: 100%;
    }

    .signup{
        width: 25vw;
    }

    .subscribe-input{
        width: 100%;
    }

    .copyright img{
        height: 10px;
        margin: 0;
        margin-bottom: 11px;
    }

    .copyright{
        width: 50vw;
        text-align: center;
        margin-bottom: 20px;
    }


    .copyright span{
        font-size: 10px;
    }

}